<div class="container-fluid">
  <div class="row chat-header">
    <div class="col-md-12">
      <h4 class="user-name"><strong>Souvik Sarkar</strong><span>&nbsp;(you)</span></h4>
      <ul class="user-info">
        <li class="user-description"><i class="fa fa-star-o" aria-hidden="true"></i></li>
        <li class="user-description"><i class="fa fa-circle"></i> active</li>
        <li class="user-description User_name">Souvik Sarkar</li>
      </ul>
    </div>
  </div>

  <div class="row chatbox-wrapper">
    <div class="message-body">
      <div class="col-md-12 chatbox-welcome-msg">
        <div class="chatbox-userinfo">
          <div class="chatbox-avatar"><i class="fa fa-user" aria-hidden="true"></i></div>
          <div class="chatbox-username">
            <h5 class="user-name status">Souvik Sarkar <i class="fa fa-circle"></i></h5>
            <h6 class="user-name">Souvik Sarkar</h6>
          </div>
        </div>
        <div class="chatbox-message">
          <p><strong>This is your space.</strong> Draft messages, make to-do lists or keep links and files to hand. You can also talk to yourself here, but please bear in mind you'll have to provide both sides of the conversation. Make note of something.</p>
        </div>
      </div>
    </div>

    <div class="chatbox-dayseparator"><hr></div>
    <div class="chatday"><span>Today</span></div>

    <div class="chat-messagebox" *ngFor="let chatMessage of chatMessages | keyvalue">
      <div class="chatbox-avatar"><i class="fa fa-user" aria-hidden="true"></i></div>
      <div class="chat-user-info">
        <h6 class="user-name">Souvik Sarkar <span class="time">{{showDate(chatMessage.value.dateTime, 'mainThread')}}</span> </h6>
        <p class="text-note">{{chatMessage.value.message}}</p>
      </div>
    </div>
    <div class="chat-form">
      <form (ngSubmit)="sendMessage()" ngNativeValidate>
        <input class="form-control" type="text" name="text" [(ngModel)]="model.message" placeholder="Type your notes here">
      </form>
    </div>
  </div> 
</div>